{{ define "header" }}
<header>
    <div class="border-b">
        <div class="w-10/12 sm:w-8/12 mx-auto">
            <div class="my-3 flex items-center justify-between">
                <a href="/" class="flex items-center">
                    <div class="w-11">
                        <img src="static/assets/imgs/logo.png" alt="logo" class="object-contain w-full h-full">
                    </div>
                    <div class="grid text-sm ml-1">
                        <h1 class="font-bold text-gray-950">ფასები</h1>
                        <span class="font-normal text-gray-700"><small>ოპოვე უკეთეს ფასად</small></span>
                    </div>
                </a>
                <div class="flex items-center">
                    <div class="w-11">
                        <img src="static/assets/imgs/bag.png" alt="bag" class="object-contain w-full h-full">
                    </div>
                    <div class="grid text-sm ml-1">
                        <h1 class="font-bold text-gray-950">კალათა</h1>
                        <span class="font-normal text-gray-700"><small>დაზოგილი: 0.00</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
{{ end }}