{{ template "base" . }}

{{ define "content" }}

{{ template "main-header"}}

<!-- Currency Slider -->
<div class="border-b">
    <div class="w-full sm:w-8/12 mx-auto border-r border-l">
        {{ template "currency-slider" .currencies }}
    </div>
</div>

<!-- Random Products -->
<div class="border-b"
     x-data="{
          open: false,
          modalName: 'Product Name',
          modalBrandName: 'Brand Name',
          modalImageUrl: '',
          modalMaxPrice: 0,
          modalPrices: [],
          setData(modalName, modalBrandName, modalImageUrl, modalPrices){
            this.modalName = modalName;
            this.modalBrandName = modalBrandName;
            this.modalImageUrl = modalImageUrl;
            this.modalPrices = modalPrices;
          }
     }"
>
    <div class="w-full sm:w-8/12 mx-auto font-normal border-r border-l grid lg:grid-cols-5 xl:grid-cols-7 grid-cols-2 md:grid-cols-3 gap-3 px-1.5">
        {{ range .products }}
        <div class="col-span-1">
            {{ template "product-card" .}}
        </div>
        {{ else }}
        <div class="col-span-3 text-center text-gray-500">
            No products at all
        </div>
        {{ end }}

        <!-- This component needed to be outside, so any product card can use it. -->
        {{ template "card-modal" .}}
    </div>
</div>


<!-- Gas Rates -->
{{ template "gas-rates" .gasRates }}

<!-- Products Grouped by Category -->
{{ template "grouped-categories" .categoryGroups }}

{{ end }}
